# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries for Data Science
* List data science tool
* Simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools|
|---------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [10]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Vong Wei Quan